section:not(.sec_1, .sec_5){
    width: 100%;
    padding: 200px 200px;
}

@media screen and (max-width:768px){
    section:not(.sec_1, .sec_5){
        width: 100%;
        padding: 100px 20px;
    }
}

.wrap{
    background-color: #fafafa;
}

h1{
    font-size: 128px;
    letter-spacing: -2px;
    font-weight: 700;
    font-family: "Mozilla Headline", sans-serif;
}

h2{
    font-size: 80px;
    letter-spacing: -2px;
    font-weight: 600;
    font-family: "Mozilla Headline", sans-serif;
}

h3{
    font-size: 52px;
    letter-spacing: -2px;
    font-weight: 600;
    font-family: "Mozilla Headline", sans-serif;
}

h4{
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 500;
    font-family: "Mozilla Headline", sans-serif;
}

h5{
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 500;
    font-family: "Mozilla Headline", sans-serif;
}

h6{
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: "Mozilla Headline", sans-serif;
}

p{
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: "Mozilla Headline", sans-serif;
}

.btn{
    position: relative;
    margin-right: 200px;
}

.btn_l{
    width: 200px;
    height: 50px;
    color: #2a2a2a;
    border-radius: 10px;
    background-color: #DBD7D0;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.btn_l i{
    font-size: 17px;
    margin-left: 3px;
}


.btn_l_h{
    width: 200px;
    height: 50px;
    color: #DBD7D0;
    border-radius: 10px;
    background-color: #606060;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.btn_l_h i{
    font-size: 16px;
    margin-left: 7px;
}

.btn_l_h:hover{
    opacity: 1;
}

@media screen and (max-width:768px){
    .btn{
        position: relative;
        margin-right: 163px;
    }

    .btn_l{
        width: 160px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }

    .btn_l i{
        font-size: 15px;
        margin-left: 5px;
    }

    .btn_l h6{
        font-size: 18px;
    }

    .btn_l_h{
        width: 160px;
        height: 40px;
        padding: 10px;
        opacity: 0;
        transition: 0.5s;
    }

    .btn_l_h i{
        font-size: 15px;
        margin-left: 8px;
    }

    .btn_l_h h6{
        font-size: 18px;
    }

}

.mini_btn{
    position: relative;
}

.btn_s{
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #2a2a2a;
    border-radius: 9px;
    background-color: #DBD7D0;
    text-align: center;
    padding-top: 7px;
    position: absolute;
    top: 0;
    left: 0;
}

.btn_s_h{
    width: 35px;
    height: 35px;
    font-size: 18px;
    color: #DBD7D0;
    border-radius: 9px;
    background-color: #606060;
    text-align: center;
    padding-top: 7px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.btn_s_h:hover {
    opacity: 1;
}

@media screen and (max-width:768px){

    .btn_s{
        width: 30px;
        height: 30px;
        font-size: 18px;
        padding-top: 5px;
    }

    .btn_s_h{
        width: 30px;
        height: 30px;
        font-size: 18px;
        padding-top: 5px;
    }

}